/**********************
    **********************
        Euclid Circular
    **********************
**********************/

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/EuclidCircularA-Bold.eot');
    src: local('Euclid Circular A Bold'), local('EuclidCircularA-Bold'),
        url('../fonts/EuclidCircularA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-Bold.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Bold.woff') format('woff'),
        url('../fonts/EuclidCircularA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/EuclidCircularA-Light.eot');
    src: local('Euclid Circular A Light'), local('EuclidCircularA-Light'),
        url('../fonts/EuclidCircularA-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-Light.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Light.woff') format('woff'),
        url('../fonts/EuclidCircularA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/EuclidCircularA-BoldItalic.eot');
    src: local('Euclid Circular A Bold Italic'), local('EuclidCircularA-BoldItalic'),
        url('../fonts/EuclidCircularA-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-BoldItalic.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-BoldItalic.woff') format('woff'),
        url('../fonts/EuclidCircularA-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/EuclidCircularA-LightItalic.eot');
    src: local('Euclid Circular A Light Italic'), local('EuclidCircularA-LightItalic'),
        url('../fonts/EuclidCircularA-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-LightItalic.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-LightItalic.woff') format('woff'),
        url('../fonts/EuclidCircularA-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/EuclidCircularA-Regular.eot');
    src: local('Euclid Circular A Regular'), local('EuclidCircularA-Regular'),
        url('../fonts/EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-Regular.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Regular.woff') format('woff'),
        url('../fonts/EuclidCircularA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/EuclidCircularA-SemiBold.eot');
    src: local('Euclid Circular A SemiBold'), local('EuclidCircularA-SemiBold'),
        url('../fonts/EuclidCircularA-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-SemiBold.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-SemiBold.woff') format('woff'),
        url('../fonts/EuclidCircularA-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/EuclidCircularA-Medium.eot');
    src: local('Euclid Circular A Medium'), local('EuclidCircularA-Medium'),
        url('../fonts/EuclidCircularA-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-Medium.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Medium.woff') format('woff'),
        url('../fonts/EuclidCircularA-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/EuclidCircularA-Italic.eot');
    src: local('Euclid Circular A Italic'), local('EuclidCircularA-Italic'),
        url('../fonts/EuclidCircularA-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-Italic.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Italic.woff') format('woff'),
        url('../fonts/EuclidCircularA-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/EuclidCircularA-SemiBoldItalic.eot');
    src: local('Euclid Circular A SemiBold Italic'), local('EuclidCircularA-SemiBoldItalic'),
        url('../fonts/EuclidCircularA-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-SemiBoldItalic.woff') format('woff'),
        url('../fonts/EuclidCircularA-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/EuclidCircularA-MediumItalic.eot');
    src: local('Euclid Circular A Medium Italic'), local('EuclidCircularA-MediumItalic'),
        url('../fonts/EuclidCircularA-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-MediumItalic.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-MediumItalic.woff') format('woff'),
        url('../fonts/EuclidCircularA-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}


/**********************
    **********************
        FUTURA
    **********************
**********************/
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
        url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-MediumObl.eot');
    src: local('Futura PT Medium Oblique'), local('FuturaPT-MediumObl'),
        url('../fonts/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-MediumObl.woff') format('woff'),
        url('../fonts/FuturaPT-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPTCond-Medium.eot');
    src: local('Futura PT Cond Medium'), local('FuturaPTCond-Medium'),
        url('../fonts/FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-Medium.woff') format('woff'),
        url('../fonts/FuturaPTCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-LightObl.eot');
    src: local('Futura PT Light Oblique'), local('FuturaPT-LightObl'),
        url('../fonts/FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-LightObl.woff') format('woff'),
        url('../fonts/FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPTCond-Bold.eot');
    src: local('Futura PT Cond Bold'), local('FuturaPTCond-Bold'),
        url('../fonts/FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-Bold.woff') format('woff'),
        url('../fonts/FuturaPTCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-BookObl.eot');
    src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'),
        url('../fonts/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-BookObl.woff') format('woff'),
        url('../fonts/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('../fonts/FuturaPTCond-ExtraBoldObl.eot');
    src: local('Futura PT Cond Extra Bold Oblique'), local('FuturaPTCond-ExtraBoldObl'),
        url('../fonts/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-ExtraBoldObl.woff') format('woff'),
        url('../fonts/FuturaPTCond-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'),
        url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Light.woff') format('woff'),
        url('../fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-BoldObl.eot');
    src: local('Futura PT Bold Oblique'), local('FuturaPT-BoldObl'),
        url('../fonts/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-BoldObl.woff') format('woff'),
        url('../fonts/FuturaPT-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../fonts/FuturaPT-DemiObl.eot');
    src: local('Futura PT Demi Oblique'), local('FuturaPT-DemiObl'),
        url('../fonts/FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-DemiObl.woff') format('woff'),
        url('../fonts/FuturaPT-DemiObl.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('../fonts/FuturaPTCond-ExtraBold.eot');
    src: local('Futura PT Cond Extra Bold'), local('FuturaPTCond-ExtraBold'),
        url('../fonts/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPTCond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../fonts/FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
        url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-HeavyObl.eot');
    src: local('Futura PT Heavy Oblique'), local('FuturaPT-HeavyObl'),
        url('../fonts/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-HeavyObl.woff') format('woff'),
        url('../fonts/FuturaPT-HeavyObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('../fonts/FuturaPT-ExtraBoldObl.eot');
    src: local('Futura PT Extra Bold Oblique'), local('FuturaPT-ExtraBoldObl'),
        url('../fonts/FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-ExtraBoldObl.woff') format('woff'),
        url('../fonts/FuturaPT-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('../fonts/FuturaPTCond-Book.eot');
    src: local('Futura PT Cond Book'), local('FuturaPTCond-Book'),
        url('../fonts/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-Book.woff') format('woff'),
        url('../fonts/FuturaPTCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('../fonts/FuturaPT-ExtraBold.eot');
    src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'),
        url('../fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPTCond-BoldObl.eot');
    src: local('Futura PT Cond Bold Oblique'), local('FuturaPTCond-BoldObl'),
        url('../fonts/FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-BoldObl.woff') format('woff'),
        url('../fonts/FuturaPTCond-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPTCond-MediumObl.eot');
    src: local('Futura PT Cond Medium Oblique'), local('FuturaPTCond-MediumObl'),
        url('../fonts/FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-MediumObl.woff') format('woff'),
        url('../fonts/FuturaPTCond-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('../fonts/FuturaPTCond-BookObl.eot');
    src: local('Futura PT Cond Book Oblique'), local('FuturaPTCond-BookObl'),
        url('../fonts/FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPTCond-BookObl.woff') format('woff'),
        url('../fonts/FuturaPTCond-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


/**********************
    **********************
        TT NORM
    **********************
**********************/
@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-Bold.eot');
    src: local('TT Norms Pro Bold'), local('TTNormsPro-Bold'),
        url('../fonts/TTNormsPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-Bold.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Bold.woff') format('woff'),
        url('../fonts/TTNormsPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-ExtraBoldItalic.eot');
    src: local('TT Norms Pro ExtraBold Italic'), local('TTNormsPro-ExtraBoldItalic'),
        url('../fonts/TTNormsPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/TTNormsPro-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/TTNormsPro-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-ExtraLightItalic.eot');
    src: local('TT Norms Pro ExtraLight Italic'), local('TTNormsPro-ExtraLightItalic'),
        url('../fonts/TTNormsPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/TTNormsPro-ExtraLightItalic.woff') format('woff'),
        url('../fonts/TTNormsPro-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-Thin.eot');
    src: local('TT Norms Pro Thin'), local('TTNormsPro-Thin'),
        url('../fonts/TTNormsPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-Thin.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Thin.woff') format('woff'),
        url('../fonts/TTNormsPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-ExtraBold.eot');
    src: local('TT Norms Pro ExtraBold'), local('TTNormsPro-ExtraBold'),
        url('../fonts/TTNormsPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-ExtraBold.woff2') format('woff2'),
        url('../fonts/TTNormsPro-ExtraBold.woff') format('woff'),
        url('../fonts/TTNormsPro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-Regular.eot');
    src: local('TT Norms Pro Regular'), local('TTNormsPro-Regular'),
        url('../fonts/TTNormsPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-Regular.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Regular.woff') format('woff'),
        url('../fonts/TTNormsPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-ThinItalic.eot');
    src: local('TT Norms Pro Thin Italic'), local('TTNormsPro-ThinItalic'),
        url('../fonts/TTNormsPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-ThinItalic.woff2') format('woff2'),
        url('../fonts/TTNormsPro-ThinItalic.woff') format('woff'),
        url('../fonts/TTNormsPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-Light.eot');
    src: local('TT Norms Pro Light'), local('TTNormsPro-Light'),
        url('../fonts/TTNormsPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-Light.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Light.woff') format('woff'),
        url('../fonts/TTNormsPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-MediumItalic.eot');
    src: local('TT Norms Pro Medium Italic'), local('TTNormsPro-MediumItalic'),
        url('../fonts/TTNormsPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/TTNormsPro-MediumItalic.woff') format('woff'),
        url('../fonts/TTNormsPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Pro ExtraBlack';
    src: url('../fonts/TTNormsPro-ExtraBlackItalic.eot');
    src: local('TT Norms Pro ExtraBlack Italic'), local('TTNormsPro-ExtraBlackItalic'),
        url('../fonts/TTNormsPro-ExtraBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-ExtraBlackItalic.woff2') format('woff2'),
        url('../fonts/TTNormsPro-ExtraBlackItalic.woff') format('woff'),
        url('../fonts/TTNormsPro-ExtraBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-ExtraLight.eot');
    src: local('TT Norms Pro ExtraLight'), local('TTNormsPro-ExtraLight'),
        url('../fonts/TTNormsPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/TTNormsPro-ExtraLight.woff') format('woff'),
        url('../fonts/TTNormsPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-LightItalic.eot');
    src: local('TT Norms Pro Light Italic'), local('TTNormsPro-LightItalic'),
        url('../fonts/TTNormsPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-LightItalic.woff2') format('woff2'),
        url('../fonts/TTNormsPro-LightItalic.woff') format('woff'),
        url('../fonts/TTNormsPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-Medium.eot');
    src: local('TT Norms Pro Medium'), local('TTNormsPro-Medium'),
        url('../fonts/TTNormsPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-Medium.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Medium.woff') format('woff'),
        url('../fonts/TTNormsPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro ExtraBlack';
    src: url('../fonts/TTNormsPro-ExtraBlack.eot');
    src: local('TT Norms Pro ExtraBlack'), local('TTNormsPro-ExtraBlack'),
        url('../fonts/TTNormsPro-ExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-ExtraBlack.woff2') format('woff2'),
        url('../fonts/TTNormsPro-ExtraBlack.woff') format('woff'),
        url('../fonts/TTNormsPro-ExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-BoldItalic.eot');
    src: local('TT Norms Pro Bold Italic'), local('TTNormsPro-BoldItalic'),
        url('../fonts/TTNormsPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/TTNormsPro-BoldItalic.woff') format('woff'),
        url('../fonts/TTNormsPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-BlackItalic.eot');
    src: local('TT Norms Pro Black Italic'), local('TTNormsPro-BlackItalic'),
        url('../fonts/TTNormsPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/TTNormsPro-BlackItalic.woff') format('woff'),
        url('../fonts/TTNormsPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-Black.eot');
    src: local('TT Norms Pro Black'), local('TTNormsPro-Black'),
        url('../fonts/TTNormsPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-Black.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Black.woff') format('woff'),
        url('../fonts/TTNormsPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('../fonts/TTNormsPro-Italic.eot');
    src: local('TT Norms Pro Italic'), local('TTNormsPro-Italic'),
        url('../fonts/TTNormsPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNormsPro-Italic.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Italic.woff') format('woff'),
        url('../fonts/TTNormsPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}