<footer class="footer orange">
    <div class="container">
        <div class="footer__wrapper">
            <h1 class="footer__title title">
                СВЯЗАТЬСЯ С НАМИ
            </h1>
            <div class="footer__contact">
                <a class="footer__contact-link" href="tel:998909805408">+99890-980-54-08</a>
                <a class="footer__contact-link location" href="contacts_ru.html">Агенство УзАтом</a>
            </div>
            <div class="socials">
                <a href="https://youtube.com/channel/UCjN-A6SJYSaEpEOONekIgmQ">
                    <img src="images/youtube.svg" alt="youtube">
                </a>
                <a href="https://instagram.com/uzatominfo?utm_medium=copy_link">
                    <img src="images/instagram.svg" alt="instagram">
                </a>
                <a href="https://t.me/uzatom_info">
                    <img src="images/telegram.svg" alt="telegram">
                </a>
                <a href="https://x.com/uzatomagency">
                    <img src="images/twitter.svg" alt="twitter">
                </a>
                <a href="https://www.facebook.com/uzatom/">
                    <img src="images/facebook.svg" alt="facebook">
                </a>
            </div>
            <p class="footer__text">
                Использование материалов, размещенных на сайте, допускается только с письменного разрешения соответствующего
                правообладателя.
                Автоматизированное извлечение размещенной информации любыми сервисами без официального разрешения запрещено.
            </p>
        </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
<script src="js/main.min.js"></script>
</body>

</html>