<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLDC 2024</title>
    <link rel="shortcut icon" href="images/test-logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    <header class="header">
        <div class="header__wrapper">

            <nav class="menu__top">
                <div class="container">
                    <ul class="menu__top-list">
                        <li class="menu__top-list__item">
                            <div class="two-logos nav-logo">
                                <img src="images/two-logo.png" alt="">
                            </div>
                        </li>

                        <li class="menu__top-list__item">
                            <div class="logo-agriculture nav-logo">
                                <img src="images/agriculture-logo.png" alt="">
                            </div>
                        </li>

                        <li>
                            <div class="logo-lldc">
                                <img src="images/logo.svg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <nav class="menu">
                <button class="close"></button>
                <div class="menu__wrapper">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a class="menu__list-link active" href="index.html">
                                MAIN
                            </a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="about.html">
                                ABOUT FORUM
                            </a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="partners.html">
                                PARTNERS
                            </a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="agenda.html">
                                AGENDA
                            </a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="speakers.html">
                                SPEAKERS
                            </a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="contacts.html">
                                CONTACTS
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="burger__btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>