<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UZATOM</title>
    <link rel="shortcut icon" href="images/logo_fav.svg" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    <header class="header uz">
        <div class="container">
            <div class="header__wrapper">
                <div class="nav-logo logo-mobile">
                    <a href="index_uz.html">
                        <img src="images/logo.svg" alt="">
                    </a>
                </div>

                <nav class="menu">

                    <div class="menu__wrapper">
                        <ul class="menu__list">
                            <a class="close__btn" href="#"></a>
                            <li class="menu__list-item inner">
                                <div class="nav-logo">
                                    <a href="index_uz.html">
                                        <img src="images/logo.svg" alt="">
                                    </a>
                                </div>
                            </li>

                            <li class="menu__list-item">
                                <a class="menu__list-link" href="about_uz.html">
                                    ATOM HAQIDA
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link" href="#">
                                    KONFERENSIYA HAQIDA
                                </a>

                                <ul>
                                    <li>
                                        <a href="conception_uz.html">
                                            Konsepsiya
                                        </a>
                                    </li>

                                    <li>
                                        <a href="agenda_uz.html">
                                            PROGRAMMA
                                        </a>
                                    </li>
                                </ul>
                            </li>


                            <li class="menu__list-item">
                                <a class="menu__list-link" href="#">
                                    TADBIR O'TKAZILADIGAN JOY
                                </a>

                                <ul>
                                    <li>
                                        <a href="site_uz.html">
                                            Lokatsiya
                                        </a>
                                    </li>
                                    <li>
                                        <a href="organizer_uz.html">
                                            Tashkilotchi
                                        </a>
                                    </li>
                                    <li>
                                        <a href="entry_uz.html">
                                            O'zbekistonga kirish
                                        </a>
                                    </li>

                                </ul>
                            </li>


                            <li class="menu__list-item logo">
                                <a class="menu__list-link logo" href="index_uz.html">
                                    <img src="images/logo.svg" alt="logo">
                                </a>
                            </li>

                            <li class="menu__list-item">
                                <a class="menu__list-link" href="speakers_uz.html">
                                    SPIKERLAR
                                </a>
                            </li>



                            <li class="menu__list-item">
                                <a class="menu__list-link" href="#">
                                    OAV
                                </a>

                                <ul>

                                    <li>
                                        <a href="#">
                                            Media kit
                                        </a>
                                    </li>

                                    <li>
                                        <a href="news_uz.html">
                                            Yangiliklar
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Fotobank
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Videobank
                                        </a>
                                    </li>

                                    <li>
                                        <a href="accreditation_uz.html">
                                            OAVni akkreditatsiyadan o'tkazish
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="menu__list-item">
                                <a class="menu__list-link" href="partners_uz.html">
                                    Hamkorlar
                                </a>
                            </li>

                            <li class="menu__list-item">
                                <a class="menu__list-link" href="contacts_uz.html">
                                    BOG'LANISH UCHUN
                                </a>
                            </li>
                        </ul>


                        <ul class="lang__list">
                            <li>

                                <a href="#">
                                    Uz
                                </a>

                                <ul>
                                    <li>
                                        <a href="index.html">
                                            En
                                        </a>
                                    </li>

                                    <li>
                                        <a href="index_ru.html">
                                            Ru
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="burger__btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>